* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(255, 103, 47, 0.87);
  position: relative;
  padding: 1rem 2vw;
  text-align: center;
}

header h2 {
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 2vw;
  top: 50%;
  transform: translateY(-50%);
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline;
  margin: 0 1.5vw;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}
header ul li:hover{
    border-bottom: 1px solid #fff;
}
.btns {
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
}

.btn1,
.btn2 {
  border-radius: 12px;
  padding: 0.4vw 1.2rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn1 {
  background-color: black;
}

.btn2 {
  background-color: orangered;
  margin-left: 0.5rem;
}
.bg-img{
    background-image: url("https://media.istockphoto.com/id/1502547874/vector/travel-to-world-on-banner-background-landscape-template-tourism-cards-road-trip-vacation-as.jpg?s=612x612&w=0&k=20&c=F-Rk863en4EVmErSk0iHlGB4lP_Uhazy77isXRlSD1Q=");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position: relative;
     height: 90vh;
}
.hero-content{
    /* border: #fff solid 2px; */
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-content h1,p{
    margin-bottom: 0.5em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.hero-btn{
    border: 2px solid;
    border-radius: 19px;
    padding: 0.3rem 4vw;
    background-color: transparent;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}
.hero-btn:hover{
    background-color: orangered;
}

.place-content{
    max-width: 28%;
    text-transform: capitalize;
    margin-top: 1.5em;
    margin-left: 5em;
}
span{
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span:hover{
    color: orangered;
}
.place-content p{
    color: black;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.8em;
    margin-bottom: 1.5em;
}
.place-btn{
    border-radius: 15px;
    padding: 0.3em 4vw;
    cursor: pointer;
}
.place-btn:hover{
    background-color: orangered;
    color: #fff;
}
.card-section{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    margin: 3em 1em;
}
.card-img{
    margin-bottom: 1.5em;
}
.card-container{
    border: 2px solid;
    /* margin: 3em 2.5em; */
    width:23.5vw;
    height: 35vh;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.card-heading,
.ratting,
.fa-euro-sign{
    margin-left: 0.9em;
}
.ratting{
    color: orange;
    margin: 0.5em 0 0.9em 0.8em;
}
.ratting span{
    color: #000;
}
footer{
/* border: 1px solid; */
display: inline-block;
text-align: center;
position: relative;
left: 41%;
right: 50%;
}
.fa-whatsapp{
    color: darkgreen;
}
.fa-facebook-f{
    color: blue;
}
.fa-instagram{
    color: red;
}
.fa-square-linkedin{
    color: blue;
}